<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<div th:fragment="stopa">
    <footer style="background-color: #262626;
    padding-top: 30px;
    color: white;">
        <div class="container">
            <div class="row tekst-center">
                <div class="col-md-4" >
                    <p>kdjfkjdfkk</p>
                    <p>kdjfkjdfkk</p>
                    <p>kdjfkjdfkk</p>
                    <p>kdjfkjdfkk</p>
                    <p>kdjfkjdfkk</p>
                </div>
                <div class="col-md-4">
                    <p>kdjfkjdfkk</p>
                    <p>kdjfkjdfkk</p>
                    <p>kdjfkjdfkk</p>
                    <p>kdjfkjdfkk</p>
                    <p>kdjfkjdfkk</p>
                </div>
                <div class="col-md-3">
                    <p>kdjfkjdfkk</p>
                    <p>kdjfkjdfkk</p>
                    <p>kdjfkjdfkk</p>
                    <p>kdjfkjdfkk</p>
                    <p>kdjfkjdfkk</p>
                </div>
            </div>
        </div>
        <section style="background-color: #1F1F1F; padding: 5px">
            <div class="container tekst-center" >
                <h5>Copyright 2017 By Andrzej Imbirowycz (Wszelkie prawa zastrzeżone)</h5>
            </div>
        </section>
    </footer>


</div>

</body>
</html>