<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/Style.css}"/>
    <meta charset="UTF-8"/>
    <title>Lista Użytkowników</title>
</head>
<style>

    .tekst-center {  text-align: center;  }

    /*background: url('/static/images/skarb.png');*/
    header {  padding-top: 30px;  margin-bottom: 30px;  min-height: 300px;  background-color:  #262626;  color: white;  }

    .ocenianie {  text-align: center;  padding-top: 15px;  font-size: 20px;  height: 50px;  background-color: #EEEEEE;  }

    .white-text {  color: white;  }

    a.href-none-decor { text-decoration: none; }
</style>

<body>
<!--************* Nawigacja: przyciski login i log out, users, sort td..******************* -->
<header th:style="'background-image:url('+${'/images/skarb.png'}+');background-position: left;background-repeat: no-repeat;background-size: 300px 300px;'">
    <div class="logo">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-6 tekst-center">
                    <p class="white-text">Jest dostępnych wiele różnych wersji Lorem Ipsum, ale większość
                        zmieniła się pod wpływem dodanego humoru czy przypadkowych słów,
                        które nawet w najmniejszym stopniu nie przypominają istniejących.
                        est dostępnych wiele różnych wersji Lorem Ipsum</p>

                </div>
                <div class="col-lg-offset-2 col-lg-2">
                    <div sec:authorize="isAuthenticated()">
                        <form action="logmeout" th:action="@{/logmeout}" method="post" >
                            <div class="form-group">
                                <button type="submit" class="btn btn-default navbar-btn btn-group-justified">
                                    Wyloguj się: <span class="glyphicon glyphicon-log-out"></span>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div sec:authorize="isAnonymous()">
                        <a th:href="@{/login}" class="href-none-decor"> <button type="button" class="btn btn-default navbar-btn btn-group-justified">
                            Zaloguj się: <span class="glyphicon glyphicon-log-in"></span>
                        </button></a>
                    </div>
                    <br />
                    <a th:href="@{/user/getAll}" class="href-none-decor"><button type="button" class="btn btn-default navbar-btn btn-group-justified">
                        Użytkownicy: <span class="glyphicon glyphicon-user"></span>
                    </button></a>
                </div>
            </div>
            <div class="row" style="margin-top: 50px">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <a th:href="@{/discovery/add}" class="href-none-decor">
                            <button type="button" class="btn btn-default navbar-btn navbar-left">Dodaj znaleźisko</button>
                        </a>
                        <div class="btn-group navbar-btn navbar-left" style="margin-left: 20px">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Opcje sortowania <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here gdf dfgdfgdg dgdfgdfgdfg</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="podaj tytuł" />
                            </div>
                            <button type="submit" class="btn btn-default">Szukaj: <span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </div>
                </nav>


            </div>
        </div>
    </div>

</header>




<!--************************ List all Users ****************************-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="tekst-center">Lista wszystkich zarejestrowanych użytkowników</h4></div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Nick</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="users: ${allUserList}" th:object="${users}">
                    <td th:text="*{firstName}" >John</td>
                    <td th:text="*{lastName}" >Doe</td>
                    <td th:text="*{nick}" >Doe</td>
                    <td th:text="*{email}" >Doe</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!--******************** Footer (stopka) ***************************-->
<footer style="background-color: #262626;padding-top: 30px" class="white-text">
    <div class="container">
        <div class="row tekst-center">
            <div class="col-md-4" >
                <p>kdjfkjdfkk</p>
                <p>kdjfkjdfkk</p>
                <p>kdjfkjdfkk</p>
                <p>kdjfkjdfkk</p>
                <p>kdjfkjdfkk</p>
            </div>
            <div class="col-md-4">
                <p>kdjfkjdfkk</p>
                <p>kdjfkjdfkk</p>
                <p>kdjfkjdfkk</p>
                <p>kdjfkjdfkk</p>
                <p>kdjfkjdfkk</p>
            </div>
            <div class="col-md-3">
                <p>kdjfkjdfkk</p>
                <p>kdjfkjdfkk</p>
                <p>kdjfkjdfkk</p>
                <p>kdjfkjdfkk</p>
                <p>kdjfkjdfkk</p>
            </div>
        </div>
    </div>
    <section style="background-color: #1F1F1F; padding: 5px">
        <div class="container tekst-center" >
            <h5>Copyright 2017 By Andrzej Imbirowycz (Wszelkie prawa zastrzeżone)</h5>
        </div>
    </section>
</footer>

<script src="webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!--<script src="webjars/jquery/2.0.3/jquery.min.js"></script>-->


</body>
</html>