<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="fragments/head::headers"></th:block>
    <title>Home</title>
</head>
<style>

    .tekst-center {  text-align: center;  }

    /*background: url('/static/images/skarb.png');*/
    header {  padding-top: 30px;  margin-bottom: 30px;  min-height: 300px;  background-color:  #262626;  color: white;  }

    /*footer { padding-top: 30px; background-color: #262626; color: white;  }*/

    .ocenianie {  text-align: center;  padding-top: 15px;  font-size: 20px;  height: 50px;  background-color: #EEEEEE;  }

    .white-text {  color: white;  }

    a.href-none-decor { text-decoration: none; }
</style>

<body>

<th:block th:include="fragments/nav::navigation"></th:block>

<!--*********************** Ciało znaleźisk ***********************-->
<div class="container">
    <div th:each="listDiscovery: ${discoveryList}" th:object="${listDiscovery}">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 th:text="*{title}">Title...</h4></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="row">
                                        <div class="col-lg-4 tekst-center" style="font-size: 15px">
                                            <span class="glyphicon glyphicon-star-empty size"></span><br/>
                                            <span class="glyphicon glyphicon-star-empty"></span><br/>
                                            <span class="glyphicon glyphicon-star-empty"></span><br/>
                                            <span class="glyphicon glyphicon-star-empty"></span><br/>
                                            <span class="glyphicon glyphicon-star-empty"></span><br/>
                                            <span class="glyphicon glyphicon-star-empty"></span><br/>
                                            <span class="glyphicon glyphicon-star-empty"></span><br/>
                                        </div>
                                        <div class="col-lg-8">
                                            <a href="#"><div class="ocenianie">
                                                <span class="glyphicon glyphicon-thumbs-up"></span><br/>
                                            </div></a>
                                            <div class="ocenianie" >
                                                <p><i>Oceń</i></p>
                                            </div>
                                            <a href="#"><div class="ocenianie">
                                                <span class="glyphicon glyphicon-thumbs-down"></span><br/>
                                            </div></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-10" th:each="Idd:${listDiscovery.user}">
                                    <small>Dodano przez:</small> <strong th:text="${Idd.nick}">Nick</strong>&ensp;&ensp;&ensp;<small>
                                    <span class="glyphicon glyphicon-certificate"></span>
                                    <span class="glyphicon glyphicon-certificate"></span>
                                    <span class="glyphicon glyphicon-certificate"></span></small><br />
                                    <small>Data:</small> 00.00.2000 <br/>
                                    <small>time</small> 23.23<br />
                                    Opis:<br />
                                    <p>Jest dostępnych wiele różnych wersji Lorem Ipsum, ale większość
                                        zmieniła się pod wpływem dodanego humoru czy przypadkowych słów,
                                        które nawet w najmniejszym stopniu nie przypominają istniejących.
                                        est dostępnych wiele różnych wersji Lorem Ipsum, ale większość
                                        zmieniła się pod wpływem dodanego humoru czy przypadkowych słów,
                                        które nawet w najmniejszym stopniu nie przypominają istniejących.
                                        est dostępnych wiele różnych wersji Lorem Ipsum, ale większość
                                        zmieniła się pod wpływem dodanego humoru czy przypadkowych słów,
                                        które nawet w najmniejszym stopniu nie przypominają istniejących.
                                        est dostępnych wiele różnych wersji Lorem Ipsum, ale większość
                                        zmieniła się pod wpływem dodanego humoru czy przypadkowych słów,
                                        które nawet w najmniejszym stopniu nie przypominają istniejących.
                                    </p>

                                    <a href="#"><button class="btn btn-inverse btn-xs">Źródło strony</button></a>
                                    <a th:href="@{/discovery/comments/add(param=*{id})}"><button class="btn btn-info btn-xs">Dodaj komentarz</button></a>
                                    <button type="button" class="btn btn-inverse btn-xs" data-toggle="collapse" th:attr="data-target='#collapseExample'+${listDiscovery.title}" aria-expanded="false">
                                        Komentarze: <span class="caret"></span>
                                    </button>

                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="collapse" th:id="'collapseExample'+${listDiscovery.title}">
                                <div class="row" th:each="Aaa:${listDiscovery.commentsList}">
                                    <div class="col-sm-offset-2 col-sm-1">
                                        <div class="thumbnail">
                                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
                                        </div><!-- /thumbnail -->
                                    </div><!-- /col-sm-1 -->

                                    <div class="col-sm-5">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <small>Dodano przez: </small><strong th:text="${Aaa.user.nick}">User name:</strong> <span class="text-muted">commented 5 days ago</span>
                                            </div>
                                            <div class="panel-body">
                                                <strong th:text="${Aaa.description}">Nick</strong>
                                            </div><!-- /panel-body -->
                                        </div><!-- /panel panel-default -->
                                    </div><!-- /col-sm-5 -->
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments/stopka::stopa"></th:block>

</body>
</html>